{% extends 'base.html' %}

{% block title %}
Заказ #
{% endblock %}

{% block content %}
<!-- BEGIN content -->
<div class="out">
    <div class="container">
        {% include '/admin/base/header.html' %}
        <div class="row d-flex justify-content-between underline">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/users/list/">Пользователи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="/admin/orders/list/">Заказы</a>
                </li>
            </ul>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/orders/create/"><span class="font-weight-bold">+</span> создать заказ</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="table-title">
                Список заказов
            </div>
        </div>
        <div class="row">
            <table class="table" id="usersTable">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Пользователь</th>
                        <th>Сумма</th>
                        <th>Оплачено</th>
                        <th>Дата создания</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in order_list %}
                        <tr>
                            <th scope="row"><a href="/admin/orders/detail/{{ order.id }}/">{{ order.id }}</a></th>
                            <td><a target="_blank" href="/admin/users/detail/{{ order.tguser.id }}/">{{ order.tguser }}</a></td>
                            <td>{{ order.amount }}</td>
                            <td>{{ order.paid }}</td>
                            <td>{{ order.created }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- END content -->
{% endblock %}
